{% autoescape off %}

Welcome {{ name }}, 


Thank you for speaking with our team and we are very excited for you to join us in advancing diabetes diagnosis. We have an advance diabetes system that help practitioners diagnose patients. Our system provides a comprehensive overview and detailed diagnosis solutions. 


To authenticate you and the email you have been provided with, could you please click on the link on another email you will receive shortly.


Yours sincerely, 

Diabetes diagnosis team

{% endautoescape %}