<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diabetes form</title>
</head>
<body>
    
    <form action="Diabetes_dignosis_model_A", method= 'post'>
        {% csrf_token %}


       
            <input type="number", name='HbA1c_level' placeholder=' Enter HbA1c_level' required>
            <input type="number", name='blood_glucose_level' placeholder = 'Enter blood_glucose_level' required>
            <input type="number", name='age' placeholder= 'Enter age' required>
            <input type="number", name='bmi' placeholder='Enter bmi' required>
            <input type="number", name='hypertension' placeholder= 'Enter hypertension' required>

            <button type='submit'>Diagnose </button>

        </form>


    </form>
</body>
</html>