{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/Patients_home.css?{% now "U" %}"/>
        <script src="https://kit.fontawesome.com/6646e93743.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">


    </head>
    <body>

        {% csrf_token %}
        {% if request.user.is_authenticated %} 
        {% endif %}

        {% load static %}




        <h1>
            <b> 
            <strong> | </strong> 
            <div class='t1'>

                 <a href="http://127.0.0.1:8000/">

                        Diabetes diagnosis system

                    </a>

            </div>
                
            </b>
                
        </h1>

        <div class='bars' id='bars'>


            <i class="fa-solid fa-bars fa-2xl" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"></i>

        </div>


        <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasTopLabel"> 
                    

                    Navigation


                    
                </h5>
                <button type="button" class="btn-close"
                
                data-bs-dismiss="offcanvas" aria-label="Close">

                </button>
            </div>
            <div class="offcanvas-body">
                <a class="nav-link active" aria-current="page" href= "{% url 'Patients_page' %}"> 
                    <b> 
                        Home 
                    </b>
                </a>

                    {% for pp in pid %}
                        {% if request.user.id == pp.id %}
                            <a class="nav-link active"  href="{% url 'form' pp.last_name %}"> 
                                <b> 
                                    Make Diagnoses  
                                </b> 
                            </a>
                        {% endif %}
                    {% endfor %}
                    
                    <a class="nav-link active" href="{% url 'details' %}">
                        <b>
                            Useful informtaion
                        </b>
                    </a>


                    <a class="nav-link active" href="{% url 'about'%}"> 
                        <b>
                            About
                        </b> 
                    </a>

                    <a class="nav-link active" href="{% url 'sign_out' %}"> 
                        <b> 
                            Sign out 

                        </b> 
                    </a>
            </div>
        </div>


            



        <div class='navt' id = "navt">

            <ul class="nav nav-pills nav-fill">
                <li class="nav-item" >
                    <a class="nav-link active" aria-current="page" href="{% url 'Patients_page' %}" > 
                        <b> 
                            Home 
                        </b>
                    </a>
                </li>

                    <li class="nav-item" id ='dclick'>
                        {% for pp in pid %}
                            {% if request.user.id == pp.id %}

                                <a class="nav-link active"  href="{% url 'form' pp.last_name %}"> 
                                    <b> 
                                        Make Diagnoses 
                                    </b> 
                                </a>
                            
                            {% endif %}
                        {% endfor %}
                     

                    </li>
                    <li class="nav-item
                    dropdown">

                       <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           <strong>
                               
                                   Information
                               
                           </strong>  
                       </a>
                   <ul class="dropdown-menu">

                       <li>
                            <a class="dropdown-item" href="{% url 'details' %}">
                                <b>

                                    Useful informtaion

                                </b>
                            </a>
                       </li>
                       <li>
                           <a class="dropdown-item" href="{% url 'about' %}"> 
                               <b>
                                   About
                               </b> 
                           </a>
                       </li>
                   </ul>
               </li>

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'sign_out' %}"> 
                        <b> 
                            Sign out 

                        </b> 
                    </a>
                </li>
            </ul>

        </div>


        <div class='greet-user'>


            <b> 
                <p id='greet'> 

                </p> 

                <p>

                    {{ request.user.first_name}}

                </p>


                
            </b>

        </div>

        {% comment %} {% for items in pid %}

            {{ items.first_name }}

        {% endfor %} {% endcomment %}


        <div class='container'>


            <div class='img-sect'>

                <div class='img'>
                    <a href="https://www.cdc.gov/diabetes/index.html"  target="_blank">
                        <img  src="{% static 'img2.jpg' %}">
                    </a>
                </div>
                <div class='img' >
    
                    <a href="https://digital.nhs.uk/data-and-information/publications/statistical/health-survey-england-additional-analyses/ethnicity-and-health-2011-2019-experimental-statistics/overweight-and-obesity"  target="_blank">
        
                        <img  src="{% static 'impactdiabetes.png' %}">
                    </a>
        
                </div>


            </div>

        

            <div class='info'>
                <div class= 'title'>
                    <p>
                        <b>Key facts!</b>
                    </p>

                </div>
          

                <div class='inner'>
                    <ul >
                        <li>
                            Diabetes is a major cause of blindness, kidney failure, heart attacks, stroke and lower limb amputation.
                        </li>
                        <li>
                            Between 2000 and 2019, there was a 3% increase in diabetes mortality rates by age.
                        </li>
                        <li>
                            Diabetes can be treated and its consequences avoided or delayed with diet, physical activity, medication and regular screening and treatment for complications.
                        </li>
                    </ul>

                </div>

                <div class='wholink'>
                    
                    <p>  <a 
                        href="https://www.who.int/news-room/fact-sheets/detail/diabetes#:~:text=Diabetes%20is%20a%20chronic%20disease,hormone%20that%20regulates%20blood%20glucose."   target="_blank"> 
                            <b>
                                Press here

                            </b>
                        </a> for more information and details about diabetes. 
                    
                    </p>
                </div>

            </div>

            <div class='bt-mg'>
                <iframe width="100%" height="100%"  src="https://www.youtube.com/embed/wZAjVQWbMlE" title="What Is Diabetes? | 2 Minute Guide | Diabetes UK" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>


            <div class='footer'>

                <div class='copyright-site'>

                    <a href=" http://127.0.0.1:8000/"> 
                        
                        Diabetes system
                    </a>   
                    <img class='f-img'width='30px' height = '22px'src="{% static 'copyright.jpg' %}" alt="copyright symbol">  

                </div>

                <div class = 'footer-div'>
                    <div class='links-f'>

                        <p>
                            <a 
                                href="{% url 'about'%}"> About 
                            </a>
                        </p>

                        <p>
                            <a 
                            href="{% url 'Patients_page' %}">Home page </a>
                        </p>

                        <p>
                            <a href="{% url 'details'%}" target="_blank">
                                Useful informtaion

                            </a>
                        </p>

                        <p>
                            <a href="https://www.cdc.gov/diabetes/basics/symptoms.html" target="_blank"> Centre for disease control</a>
                        </p>

                        <p>
                            <a href=" https://www.diabetes.org.uk/how_we_help/local_support_groups/peer-support" target="_blank"> Peer groups support </a>
                        </p>

                    </div>
                    <div class='links-f'>

                        
                        <p>
                            <a href="https://healthmatch.io/high-blood-pressure/how-does-diabetes-cause-hypertension#can-high-blood-pressure-cause-diabetes"  target="_blank"> Daibetes and hypertension </a>
                        </p>

                        <p>
                            <a href="https://www.who.int/news-room/fact-sheets/detail/diabetes#:~:text=Diabetes%20is%20a%20chronic%20disease,hormone%20that%20regulates%20blood%20glucose."  target="_blank"> WHO - daibetes fact sheet </a>
                        </p>

                        <p>
                            <a href="https://digital.nhs.uk/data-and-information/publications/statistical/health-survey-england-additional-analyses/ethnicity-and-health-2011-2019-experimental-statistics/overweight-and-obesity"  target="_blank"> NHS - diversity and daibetes </a>
                        </p>

                
                        <p>
                            <a href="{% url 'links'%}" target="_blank"> Useful links and resources </a>
                        </p>

                        <p>
                            <a href="{% url 'sign_out'%}"> 
                                Log out
                            </a>
                        </p>


                    </div>
                </div>

            

            </div>
       </div>

       


       


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
        <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


       <script src={% static 'patients-home.js' %}></script>

      

        
    </body onload="greetUser()">
</html>