<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>'Main Page'</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
    


    </h1> Welcome team! You are now Logged on!</h1>

    {% if request.user.is_authenticated %} 

    <p class="text-success"> Welcome back: {{ request.user.first_name}}</p
        
    {% endif %}

    {% csrf_token %}


        <br>
        <br>



        <br>
        <br>

    

        <button type="button",> <a href="{% url 'sign_out' %}"> Sign Out </a></button>

        

        
        <script src="" async defer></script>
    </body>
</html>