<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>'Executives page'</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    

    </h1> We are happy to see you back!</h1>

    {% if request.user.is_authenticated %} 

    <p class="text-success"> Great to see!: {{ request.user.first_name}}</p
        
    {% endif %}

    {% csrf_token %}


        <br>
        <br>



        <br>
        <br>

    

        <button type="button",> <a href="{% url 'sign_out' %}"> Sign Out </a></button>

        

        
        <script src="" async defer></script>
    </body>
</html>