
body {
    background-color: rgb(236, 244, 244);
    vertical-align: bottom;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}


* {
    box-sizing: border-box;
    bottom: 0;
    margin: 0;
}


h1 {
    text-align: left;
    position:sticky;
    top: 0;
    text-transform: uppercase; 
    background-color: rgb(27, 4, 205);
    height: 100%;
    width: 100%;
    text-align: left;
    padding-bottom: 33px;
    padding-left: 12px;
    color: rgb(217, 217, 218);
    font-size: 30px;
    
  }


  h1 strong{

    font-size: 67px;
    margin-left: 5px;

}


.t1 {

    margin-top: -51px;
    margin-left: 31px;
}

h2 {

    font-size: 49px;
    color: black;
    margin-top: 3%;
    text-transform: uppercase;
    background-color: rgb(246, 246, 235);
}


.greet-user p {

    display: inline;
    font-size: 18px;

}

#greet {

    margin-left: 20px;
}


.table {

    text-align: center;
    width:70%;
    margin-top: 30px;
    position: relative;
    margin-bottom: 35px;
   
}


.table th {
    background-color: rgb(78, 153, 245);
}

.table td {
    background-color: rgb(232, 229, 229);
}

.table tr:last-child td:last-child {
    font-size: 18px;
    font-weight: bold;
}


table, th, td {

    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 2px solid black;

}

th {

    font-size: 25px;
    padding: 10px;
    font-family: Helvetica, serif 'Times New Roman';
}

td {

    padding: 18px;
    font-size: 17px;
    font-family: Helvetica, serif 'Times New Roman';
    
}

table td:first-child {
    text-align: left;
    font-family: Helvetica, serif 'Times New Roman';
    font-weight:  540;

    
}


.table td:nth-child(2) {

    font-style: oblique;
}

.AllButtons {

    position: relative;
    display: flex;
    vertical-align: top;
    gap: 5%;
    max-width: 80%;
    margin-left: 11%;

}

.btn {

    width: 230px!important;
}


.print {margin-left: 10%;}

@media (max-width:700px) {



    h1{
        font-size: 18px;
        padding-top: 18px;
        padding-bottom: 35px;
        margin-bottom: 0;
    }

    h1 strong {
        font-size: 37px;
    }

    .t1 {

        padding-top: 24px;
        margin-left:19px;
    }


    h2 {
        font-size: 25px;
        margin-top: 6%;
    }

    th {
        font-size: 14px;
    }

    td {
        font-size:13px;
    }

    .table{

        width: 90%;
    }


    .AllButtons {
        gap:10px;
        max-width: 90%;
        margin-left: 6%;


    }

    .print {
        margin-left: 1px;
    }

    .btn {
        font-size: 13px;
        padding:8px 41px;
        text-align: center;
        width: 115px!important;

    }
    .greet-user p{

        font-size: 14px;

    }

    .greet-user{

        text-align: center;

    }


}


@media (max-width:380px) {



        .table td {
            font-size: 11px;
        }

        .table th {

            font-size: 13px;
        }

        .table {

            margin-bottom: 10px;
        }

        .table tr:last-child td:last-child {

            font-size: 12px;
        }

        .btn {

            padding: 6px 17px;
            width: 83px!important;
           

        }

        .AllButtons {

            margin-left: 8%;
        }

        .footer {

            position: relative !important;
        }


        .info li {

            font-size: 8px;

        }


        .wholink {

            font-size: 14px;
        }
        .links-f {

            font-size: 10px;
        }

        .copyright-site a {

            font-size: 10px;
        }

        
    }


    @media (700px <= width <= 900px) {

        .print{
            margin-left: 3px;
        }
        .AllButtons {

            margin-left: 13%;
        }

        .btn {

            padding: 10px 35px;
            width: 155px!important;

            

        }

        .print {

            margin-left:5%;
        }

        



        .footer{
            position:fixed !important;
        }

    
}


@media (min-width:1281px) {

    .AllButtons {
       max-width: 90%!important;
       gap: 5%;
       margin-left: 7%!important;
    }

    .btn {

        width: 380px!important;
    }

   
}



a {
    color:aliceblue;
    text-decoration: none;
}

a:hover {
    color: rgb(114, 248, 114);
}



.btn-primary:hover {

    color:  rgb(114, 248, 114);


}



.footer {

    border-style: solid;
    border-color: rgb(227, 230, 230);
    width: 100%;
    margin-top: 10%;
    background-color: rgb(13, 2, 101); 
    bottom: 0;
    position: relative;
}

.wholink {
    font-size: 18px;
    text-decoration: none;
    margin-top: 15px;
}

.wholink a {
    color:black;
}

.wholink a:hover {
    color: rgb(50, 211, 50);
}

.copyright-site {

    padding-top: 6px;
    margin-right: 1px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    max-width: 100%;
    column-gap: 2px;

}

.copyright-site a {

    color: grey;
}

.f-img {

    width: 30px;
    max-width: 20%;
}

.footer-div {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    margin-left: 3px;
    margin-top: 6px;
}


.links-f {

    width: 50%;
    height: 100%;
    margin-top: 7px;
    margin-left: 6px;
    line-height: 1.0;
    text-decoration: none;
}

.links-f a {
    text-decoration: none;
    color: rgb(226, 223, 223);
}

 
@media (max-width:700px) {


    .copyright-site a {

       
        right: 0;
    }

    .footer {
         bottom: 0;
         position:fixed;
    }

    .info li {

        font-size: 17px;
    }

    .wholink {

        font-size: 16px;
    }

    .links-f {
        font-size:12px;
        margin-top: 2;
        line-height: .5;
        margin-left: 8px;
    }

    .footer-div {
        width: 90%;}

    .copyright-site a {
        font-size: 12px;
    }
   
 }

 @media (max-width:380px) {


    h2 {

        font-size: 19px;
    }

    .info li {

        font-size: 15px;

    }

    .wholink {

        font-size: 14px;
    }
    .links-f {

        font-size: 10px;
    }

    .copyright-site a {

        font-size: 10px;
    }

    .AllButtons {

        font-size: 12px;
    }

 }

 @media (700px <= width <= 900px) {

    .container {
        display:grid;
        row-gap: 20px;
       
    }

    .bt-mg { order: -1;}

    .img-sect {

       order: 2;
       width: 100%;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       column-gap: 10px;
      
    }

    .footer {

        bottom: 0;
        position: relative;
    }

}